body {
    background-image: linear-gradient(to bottom, #e9fff6, #ffffff);
    margin: 0;
    font-family: Arial, sans-serif;
}
h1, h2, h3, .hero h2 {
  font-family: 'Baloo 2', cursive;
  font-weight: 600; 
  color: #111;
}      
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    box-shadow: 0 1px 4px rgba(0,0,0,0.1);
    font-family: Arial, sans-serif;
}
.header-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 20px;
  width: 100%;
}
.header-left {
  display: flex;
  align-items: center;
  gap: 15px;
}
#search-box {
    border-radius: 20px;
    padding: 8px 15px;
    border-color: rgba(0,255,0,0.2);
}
#gfg_logo {
    height: 30px;
    margin: 10px;

}
.nav-links-1 ul,
.nav-links-2 ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 25px; 
}
.nav-links-1 ul li a {
    text-decoration: none;
    font-size: 16px;
    justify-content: space-evenly;
    font-weight: 600;
    padding: 5px 0;
    color: black;
    transition: color 0.2s ease;
}
.nav-links-1 ul li a:hover {
  color: #2f8d46; 
}
.header-right {
  display: flex;
  align-items: center;
  gap: 15px;
}
#profile {
    background-color: #eee;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-weight: bold;
    margin: 10px;
}

/*Second Row*/
.nav-links-2 {
  border-top: 1px solid #e0e0e0;
  width: 100%;
  background-color: #fff;
}
.nav-links-2 ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  margin: 0;
  padding: 10px 20px;
  gap: 20px;
  white-space: nowrap;
}
.nav-links-2 ul li a {
  text-decoration: none;
  color: #333;
  font-size: 14px;
}
.nav-links-2 ul li a:hover {
  color: #2f8d46;
  padding-bottom: 3px;
}
.her0 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 40px 20px;
}
.hero h1 {
    font-family: 'Baloo 2';
    font-size: 3vw;
    text-align: center;
}
#hero-search-box {
    justify-content: center;
    width: 40%;
    margin: 20px auto;
    border-radius: 9px;
    padding: 25px;
    border-color: rgb(143, 139, 139);
    border-style:solid;
    border-width: 1px;
} 
#hero-search-box::placeholder {
    font-size: 20px;
    font-family: 'Baloo 2' , cursive;
    font-weight: 500;
}


