body {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: flex-start;
  height: 100vh;
  background-color: #f0f0f0;
}

.parent-container {
  text-align: center;
}

.child-container {
  display: inline-block;
  margin-top: 20px;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

button {
  padding: 10px 20px;
  background-color: #007BFF;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #0056b3;
}



/* body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.h1 {
  color: #ffff;
}

button {
  background-color: rgb(95, 229, 95);
  border-radius: 5px;
  border-style: none;
  padding: 8px;
  margin-left: 5px;
  
}

button:hover {
  background-color: green;
  transition: 0.3s;
} */